<nav class="navbar">
    <div class="navbar-left"><img id="logo" src="/images/petLogo.png"></div>
    <div class="navbar-words">
        <a href="#">Adopt</a>
        <a href="/rehome">Rehome</a>
        <a href="#">Recently Adopted</a>
        <a  class = "profile-btn" href=""><button style="background: transparent;
            border: none !important;" class = "profile-btn"><i class="fa-solid fa-circle-user fa-3x"></i></button></a>
    </div>
</nav>

<script>
    const profile = document.querySelector(".profile-btn")
    fetch("/issignedin")
      .then(response => response.json())
      .then(data => {
        const isSignedIn = data.isSignedIn;
        const userId = data.userId;

        profile.addEventListener("click", () => {
          if (isSignedIn) {
            profile.href = "/profile/user/" + userId;
          } else {
            profile.href = "/signin";
          }
        });
      });
</script>