<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/desk.css">
    <title>Pet Adoption</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">Left</div>
        <div class="navbar-center">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
        <div class="navbar-right">Right</div>
    </nav>

    <div class="search-area">
        <input type="text" placeholder="Search by name">
        <select>
            <option value="all">All Ages</option>
            <option value="young">Young</option>
            <option value="adult">Adult</option>
            <option value="senior">Senior</option>
        </select>
        <select>
            <option value="all">All Genders</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    </div>

        <div class="card-container">

            <div class="card">
                <img src="images/tony.jpeg" alt="Tony">
                <div class="card-info">
                    <div class="info-container">
                        <div class="card-name">
                            <h3>Tony</h3>
                        <div class="card-gender">♂️</div></div>
                        <div class="card-age">Young</div>
                    </div>
                    <div class="button">
                        <button class="card-button">More</button>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <img src="images/tony.jpeg" alt="Tony">
                <div class="card-info">
                    <div class="info-container">
                        <div class="card-name">
                            <h3>Tony</h3>
                        <div class="card-gender">♂️</div></div>
                        <div class="card-age">Young</div>
                    </div>
                    <div class="button">
                        <button class="card-button">More</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="images/tony.jpeg" alt="Tony">
                <div class="card-info">
                    <div class="info-container">
                        <div class="card-name">
                            <h3>Tony</h3>
                        <div class="card-gender">♂️</div></div>
                        <div class="card-age">Young</div>
                    </div>
                    <div class="button">
                        <button class="card-button">More</button>
                    </div>
                </div>
            </div>

            </div>

</body>
</html>