<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/desk.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Pet Adoption</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left"><img id="logo" src="images/petLogo.png"></div>
        <div class="navbar-center">
            <a href="#">Adopt</a>
            <a href="#">Rehome</a>
            <a href="#">Recently Adopted</a>
            <a href="/profile/user"><i class="fa-solid fa-circle-user fa-3x"></i></a>
        </div>
    </nav>

    <div class="search-area">
        <input type="text" placeholder="Search by name">
        <select>
            <option value="all">All Ages</option>
            <option value="young">Young</option>
            <option value="adult">Adult</option>
            <option value="senior">Senior</option>
        </select>
        <select>
            <option value="all">All Genders</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    </div>

        <div class="card-container">

            <div class="card">
                <img src="images/tony.jpeg" alt="Tony">
                <div class="card-info">
                    <div class="info-container">
                        <div class="card-name">
                            <h3>Tony</h3>
                        <div class="card-gender">♂️</div></div>
                        <div class="card-age">Young</div>
                    </div>
                    <div class="button">
                        <button class="card-button">More</button>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <img src="images/hilda.jpeg" alt="Hilda">
                <div class="card-info">
                    <div class="info-container">
                        <div class="card-name">
                            <h3>Hilda</h3>
                        <div class="card-gender">♀️</div></div>
                        <div class="card-age">Senior</div>
                    </div>
                    <div class="button">
                        <button class="card-button">More</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="images/rico.jpeg" alt="Rico">
                <div class="card-info">
                    <div class="info-container">
                        <div class="card-name">
                            <h3>Rico</h3>
                        <div class="card-gender">♂️</div></div>
                        <div class="card-age">Young</div>
                    </div>
                    <div class="button">
                        <button class="card-button">More</button>
                    </div>
                </div>
            </div>

            </div>

</body>
<script src="https://kit.fontawesome.com/8cee7d6611.js" crossorigin="anonymous"></script>
</html>