<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/desk.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap" rel="stylesheet">
    <title>Pet Adoption</title>

</head>
<body>

    ${nav}
    ${mobilenav}
    <div class="search-area">
        <form action="/search" method="GET">
        <input type="text" placeholder="Search by name">
        <select>
            <option value="all">All Ages</option>
            <option value="young">Young</option>
            <option value="adult">Adult</option>
            <option value="senior">Senior</option>
        </select>
        <select>
            <option value="all">All Genders</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <input type="submit" value="Search">
    </form>
    </div>
    <div class="mobileSearch"><i class="fa-solid fa-sliders fa-3x"></i></div>

        <div class="card-container">

            <div class="card">
                <img src="images/tony.jpeg" alt="Tony">
                <div class="card-info">
                    <div class="info-container">
                        <div class="card-name">
                            <h3>Tony</h3>
                        <div class="card-gender"><i class="fa-solid fa-mars"></i></div></div>
                        <div class="card-age">Young</div>
                    </div>
                    <div class="button">
                        <a href="/profile/pet/11"><button class="card-button">Learn More</button></a>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <img src="images/hilda.jpeg" alt="Hilda">
                <div class="card-info">
                    <div class="info-container">
                        <div class="card-name">
                            <h3>Hilda</h3>
                        <div class="card-gender"><i class="fa-solid fa-venus"></i></div></div>
                        <div class="card-age">MADLIB: Name is a Age Type. Ex: Hilda is a young chicken</div>
                    </div>
                    <div class="button">
                        <button class="card-button">Learn More</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="images/rico.jpeg" alt="Rico">
                <div class="card-info">
                    <div class="info-container">
                        <div class="card-name">
                            <h3>Rico</h3>
                        <div class="card-gender"><i class="fa-solid fa-mars"></i></div></div>
                        <div class="card-age">Young</div>
                    </div>
                    <div class="button">
                        <button class="card-button">Learn More</button>
                    </div>
                </div>
            </div>


            <div class="card">
                <img src="/images/smeagol.jpeg" alt="Miko">
                <div class="card-info">
                    <div class="info-container">
                        <div class="card-name">
                            <h3>Miko</h3>
                        <div class="card-gender"><i class="fa-solid fa-venus"></i></div></div>
                        <div class="card-age">Young</div>
                    </div>
                    <div class="button">
                        <button class="card-button">Learn More</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="/images/goat.jpeg" alt="Desoto">
                <div class="card-info">
                    <div class="info-container">
                        <div class="card-name">
                            <h3>Desoto</h3>
                            <div class="card-age">Young</div>
                        </div>
                        <div class="card-gender">
                            <i class="fa-solid fa-venus"></i>
                        </div>
                    </div>
                    <div class="button">
                        <button class="card-button">Learn More</button>
                    </div>
                </div>
            </div>
            ${pets.map(pet => `
                <div class="card">
                    <img src="data:image/jpeg;base64,${pet.pics.toString('base64')}" alt="Desoto">
                    <div class="card-info">
                        <div class="info-container">
                            <div class="card-name">
                                <h3>${pet.name}</h3>
                                <div class="card-age">${pet.age}</div>
                            </div>
                            <div class="card-gender"> 
                                <i class='${pet.gender === "male" ? "fa-solid fa-mars" : "fa-solid fa-venus" }'></i>  
                            </div>
                        </div>
                        <div class="button">
                            <a href="/profile/pet/${pet.id}" ><button class="card-button">Learn More</button></a>
                        </div>
                    </div>
                </div>
            `).join('')}
            


</body>
<script src="https://kit.fontawesome.com/8cee7d6611.js" crossorigin="anonymous"></script>
</html>