<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- <link rel="stylesheet" href="/css/desk.css"> -->
    <link rel="stylesheet" href="/css/petProfile.css">
    <title>Pet Profile</title>
  </head>
  
  <body>
    ${nav}
    ${mobilenav}
    <div class="main">
      <div class="pic-and-bio">
          <div class="pic">
              <img class = "profile-pic" src="/images/rico.jpeg" alt="">
          </div>
          <div class="info">
              <h1 class = "name">${pet.name}</h1>
              <p class = "bio">${pet.bio}</p>
          </div>
      </div>
      <div class="info-adopt">
          <div class="animal-info">
              <div class="stat">
                ${pet.age} 
                  <br>
                  <span class = "label">Age</span>
              </div>
              <div class="stat">
                ${pet.weight}
                  <br>
                  <span class = "label">Weight</span>
              </div>
              <div class="stat">
                ${pet.gender} 
                  <br>
              <span class = "label">Sex</span>
              </div>
          </div>
          <div class="adopt">
              <button>Adopt</button>
          </div>
      </div>
  </div>

  </body>
  <script src="https://kit.fontawesome.com/8cee7d6611.js" crossorigin="anonymous"></script>

  
</html>