<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Profile</title>
</head>
<body>
    <h1>Usesr's Page</h1>
    <div class="bar">
        User Info
    </div>
    <p>Email: user@email.com</p>
    <div class="bar">
        Pending Adoptions
    </div>
    <div>
        <p><a href="/">Kody</a></p>
        <div>
            <button class = "btn btn-danger">Undo</button>
            <button>Adopt</button>
        </div>
    </div>
    <div class="bar">
        Delete Account
    </div>
    <button class = "btn btn-danger"> Delete Profile </button>
</body>
</html>