body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.celebration {
    font-size: 36px;
    color: #3913c2; /* Gold color */
    animation: scaleAndFade 2s ease-in-out infinite alternate;
}

@keyframes scaleAndFade {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.1);
        opacity: 0.8;
    }
}

.email-form {
    margin-top: 50px;
}


body {
    background-color: #d9d4cd;
    margin: 0%;
    padding: 0%;
  }
  

.back-button {
    color: black;
    text-decoration: none;
    font-size: 16px;
}