body{
    margin: 0px;
}

h1{
    text-align: center;
}

.bar{
    background-color: lightgray;
}

.navbar {
    display: flex;
    flex: 1, 3;
    justify-content: space-between;
    align-items: center;
    background-color: #C8AB83;
    color: black;
    padding: 10px 20px;
    height: 60px;
    margin-bottom: auto;
}


.navbar-words {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 16px;
    font-family: 'Gluten', cursive;
}

.navbar a:hover {
    background: linear-gradient(180deg, #6DB2BA 69.27%, #EEC584 99.99%, #7078c9 100%);
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 18px;
}

#left, #right, .mobileSearch {
    margin: 8px;
}

.mobilenav {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #c8ab83;
        color: black;
      }


 #logo2 {
    max-width: 100px;
    max-height: 100px;
    margin: 0;
    border-radius: 50%;
 }     
 

/* little screens */
@media (max-width: 723px) {
  .navbar {
    display: none;
  }

  .mobilenav {
    display: flex;
  }

  .search-area {
    display: none;
  }
  .mobileSearch {
    display: block;
  }
}

/* big screens */
@media (min-width: 723px) {
    .mobilenav {
      display: none;
    }
    
    .navbar {
        display: flex;
      }

      .search-area {
        display: block;
      }

      .mobileSearch {
        display: none;
      }
  }